  @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Roboto&display=swap');

body{
    margin: 0;
    padding: 0;
}
  
header, main {
    background-color: #083224;
}

h1, 
a,
p,
h2,
h3  {
    color: white;
    font-family: 'Playfair Display', serif;
}

h1 {
    padding-left: 10px;
    padding-top: 15px;
    margin: 0;
}
section{
    background-color: #d08d57;
}

nav{
    position: relative;
    width: auto;
}

.respmenu a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    border-bottom: 2px solid #194235;
    max-width:auto;
    background: #0f5d43;
    font-variant: small-caps;
    text-shadow: 1px 1px black;
}

.respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
}
  
.respmenu .fa-bars, .respmenu .fa-times {
    font-size: 48px;
    pointer-events: none;
}
  
.respmenu input[type="checkbox"] {
    opacity: 0;
}
  
.respmenu {
    color: white;
    position: relative;
    background: #194235;
    min-height: 48px;
}
  
.respmenu nav {
    display: none;
}
.respmenu input:checked ~ nav {
    display: block;
}
  
.respmenu input:checked ~ .fa-bars {
    display: none;
}
  
.respmenu input:not(:checked) ~ .fa-times {
    display: none;
}

ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin: 0;
}

.menu-icon {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 9999;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}

.menu-icon::before {
    content: "\2630";
}

.menu {
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100%;
    background-color: #333;
    list-style: none;
    padding: 20px;
    text-align: center;
    transition: right 0.3s ease;
}

.menu li {
    margin-bottom: 10px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

#menu-toggle:checked + .menu {
    right: 0;
}

main section img {
    max-width: 100%;
    margin-top: 0;
    opacity: 0.50;
    position: absolute;
}
main section h2{
    position: relative;
    color: #257e62;
    text-shadow: 1px 1px white;
    font-size: 25px;
    max-width: 350px;
    margin: 10px;
    text-align: end;
    width: 100%;
    align-items: end;
    justify-content: end;
}

main section{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

main p, button {
    z-index: 10;
    
}



@media (min-width: 768px) {
    .respmenu nav{
        display: flex;
    }
    .respmenu ul{
        display: flex;
        height: 100px;
    }
    .respmenu a, li, ul {
        color: white;
        text-decoration: none;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 10px 20px;
        border-bottom: 2px solid #194235;
        background: #194235;
        font-variant: small-caps;
        text-shadow: 1px 1px black;
    }
    .menu-icon, input {
        display: none;
    }
    .respmenu h1{
        justify-content: center;
        padding-top: 15px;
        align-items: center;
        text-align: center;
    }
}

 

@media (min-width: 1200px) {
    body {
      font-size: 18px;
      color: blue;
    }
  }